<div class="container">
    <form method="post" action="/user/create" accept-charset="utf-8" class="form-singin">
        <label>Name:</label>
        <input name="name" class="form-control"  required >
        <label>LastName:</label>
        <input name="lastname" class="form-control"  required>
        <label>Username:</label>
        <input name="username" class="form-control"  required >
        <label>E-mail:</label>
        <input name="email"  class="form-control">
        <label>Password:</label>
        <input type="password" name="password" value="" class="form-control">
        <label>Password Confirmation:</label>
        <input type="password" name="passwordConfirmation" value="" class="form-control">
        <br>
        <input type="submit" class="btn btn-success" value="Guardar">
    </form>
</div>