<div class="container">
    <form method="post" action="/user/create" accept-charset="utf-8" class="form-singin">
        <label>Name:</label>
        <input name="name" class="form-control"  required >
        <label>LastName:</label>
        <input name="lastname" class="form-control"  required>
        <label>Nick:</label>
        <input name="nick" class="form-control"  required >
        <label>E-mail:</label>
        <input name="email" class="form-control">
        <br>
        <input type="submit" class="btn btn-success" value="Guardar">
    </form>
</div>